In [35]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_validate
import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import KNNImputer
from typing import List
from sklearn.preprocessing import StandardScaler
from sklearn.calibration import CalibratedClassifierCV, calibration_curve
from sklearn.pipeline import make_pipeline
import matplotlib.pyplot as plt

In [2]:
# Constants

TRAIN_FILE = "data/train.csv"
VAL_FILE = "data/val.csv"
UNLABELED = "data/unlabeled_v2.csv"
TRAIN_REPORT_PATH = "reports/train_planets_report.html"
VAL_REPORT_PATH = "reports/val_planets_report.html"
UNLABELED_REPORT_PATH = "reports/unlabeled_planets_report.html"

# Features
OBJID = "objid"
RA = "ra"
DEC = "dec"
CLEAN = "clean"
ROWC = "rowc"
colc = "colc"
CLASS = "class"

In [3]:
train = pd.read_csv(TRAIN_FILE)

In [4]:
train.describe()

,objid,ra,dec,clean,rowc,colc,u_1,g_1,r_1,i_1,...,g_2,r_2,i_2,z_2,u_6,g_6,r_6,i_6,z_6,class
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.00000
mean,61099.655167,121.220250,5.578351,0.824167,753.527731,1047.251168,759.559275,764.900706,753.525249,756.695181,...,1048.346558,1047.275525,1046.680061,1046.565899,4.390800,5.472433,4.447067,4.327233,2.852633,1.00000
std,22536.166952,61.465218,12.130847,0.380685,393.330223,545.098374,393.297413,393.314213,393.324841,393.329680,...,545.404399,545.079386,545.011597,545.210755,1.497849,1.711044,2.063332,1.973799,1.674398,0.81651
min,13209.000000,0.026645,-11.245781,0.000000,42.693500,8.428511,0.503521,56.253100,42.693500,46.127000,...,8.537188,8.428511,6.421341,5.819234,0.000000,0.000000,1.000000,1.000000,0.000000,0.00000
25%,41662.500000,66.260382,-0.747695,1.000000,412.921475,588.844125,419.019750,424.172175,412.921475,416.167025,...,589.489050,588.868550,588.217100,588.018450,3.000000,4.000000,3.000000,3.000000,1.000000,0.00000
50%,61226.000000,150.660919,0.754340,1.000000,760.744850,1050.660000,766.430200,771.731050,760.641650,764.016450,...,1052.516000,1050.660000,1050.474500,1050.345000,3.000000,5.000000,4.000000,4.000000,3.000000,1.00000
75%,80523.000000,164.803546,8.152256,1.000000,1094.763250,1517.216500,1100.556500,1106.335500,1094.763250,1097.780500,...,1518.505500,1517.211750,1516.216000,1516.131750,6.000000,7.000000,6.000000,6.000000,4.000000,2.00000
max,99997.000000,222.221149,39.162917,1.000000,1435.008000,2039.311000,1440.699000,1447.814000,1435.008000,1437.885000,...,2042.440000,2039.311000,2042.557000,2041.264000,6.000000,8.000000,8.000000,8.000000,8.000000,2.00000

In [4]:
val = pd.read_csv(VAL_FILE)
val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23333 entries, 0 to 23332
Data columns (total 44 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   objid   23333 non-null  int64
 1   ra      23333 non-null  float64
 2   dec     23333 non-null  float64
 3   u_0     23333 non-null  object
 4   g_0     23333 non-null  object
 5   r_0     23333 non-null  object
 6   i_0     23333 non-null  object
 7   z_0     23333 non-null  object
 8   clean   23333 non-null  int64
 9   rowc    23333 non-null  float64
 10  colc    23333 non-null  float64
 11  rowv    23333 non-null  object
 12  colv    23333 non-null  object
 13  u_1     23333 non-null  float64
 14  g_1     23333 non-null  float64
 15  r_1     23333 non-null  float64
 16  i_1     23333 non-null  float64
 17  z_1     23333 non-null  float64
 18  u_2     23333 non-null  float64
 19  g_2     23333 non-null  float64
 20  r_2     23333 non-null  float64
 21  i_2     23333 non-null  float64
 22  z_2     23333 non-null  float64
 23  u_3     23333 non-null  object
 24  g_3     23333 non-null  object
 25  r_3     23333 non-null  object
 26  i_3     23333 non-null  object
 27  z_3     23333 non-null  object
 28  u_4     23333 non-null  object
 29  g_4     23333 non-null  object
 30  r_4     23333 non-null  object
 31  i_4     23333 non-null  object
 32  z_4     23333 non-null  object
 33  u_5     23333 non-null  object
 34  g_5     23333 non-null  object
 35  r_5     23333 non-null  object
 36  i_5     23333 non-null  object
 37  z_5     23333 non-null  object
 38  u_6     23333 non-null  int64
 39  g_6     23333 non-null  int64
 40  r_6     23333 non-null  int64
 41  i_6     23333 non-null  int64
 42  z_6     23333 non-null  int64
 43  class   23333 non-null  int64
dtypes: float64(14), int64(8), object(22)
memory usage: 7.8+ MB

In [6]:
val.describe()

,objid,ra,dec,clean,rowc,colc,u_1,g_1,r_1,i_1,...,g_2,r_2,i_2,z_2,u_6,g_6,r_6,i_6,z_6,class
count,23333.000000,23333.000000,23333.000000,23333.000000,23333.000000,23333.000000,23333.000000,23333.000000,23333.000000,23333.000000,...,23333.000000,23333.000000,23333.000000,23333.000000,23333.000000,23333.000000,23333.000000,23333.000000,23333.000000,23333.000000
mean,42863.978957,216.980562,31.084987,0.777997,741.844317,1078.465604,748.009178,753.269122,741.854703,745.072987,...,1077.435365,1078.485428,1077.549951,1076.907735,4.181974,5.089401,4.346891,4.076844,3.140745,0.642866
std,11264.137620,71.180074,25.173756,0.415602,390.766586,547.771683,390.770032,390.775528,390.767492,390.771065,...,548.346136,547.773619,547.735873,548.029707,1.469084,1.651456,2.051583,1.939502,1.588384,0.811292
min,849.000000,71.105443,-11.092428,0.000000,52.264330,65.654620,57.210360,61.037930,52.264330,54.894610,...,54.770280,65.654620,64.389700,59.417270,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,33503.000000,167.091126,4.514675,1.000000,405.580500,614.330000,411.202300,416.513300,405.580500,408.555100,...,612.682300,614.330000,613.489900,612.422200,3.000000,4.000000,3.000000,3.000000,2.000000,0.000000
50%,43025.000000,202.867668,40.321172,1.000000,738.171000,1102.780000,744.561300,749.714100,738.171000,741.759400,...,1100.710000,1102.780000,1101.917000,1101.055000,3.000000,5.000000,4.000000,4.000000,3.000000,0.000000
75%,52431.000000,238.045655,51.124605,1.000000,1081.838000,1552.282000,1088.137000,1093.117000,1081.794000,1085.058000,...,1551.778000,1552.282000,1551.211000,1550.669000,6.000000,6.000000,6.000000,6.000000,4.000000,1.000000
max,63296.000000,359.997573,76.059262,1.000000,1438.156000,2046.515000,1444.381000,1449.539000,1438.156000,1441.835000,...,2050.650000,2046.515000,2046.654000,2049.122000,6.000000,8.000000,8.000000,8.000000,8.000000,2.000000

In [5]:
val.isna().sum()

objid    0
ra       0
dec      0
u_0      0
g_0      0
r_0      0
i_0      0
z_0      0
clean    0
rowc     0
colc     0
rowv     0
colv     0
u_1      0
g_1      0
r_1      0
i_1      0
z_1      0
u_2      0
g_2      0
r_2      0
i_2      0
z_2      0
u_3      0
g_3      0
r_3      0
i_3      0
z_3      0
u_4      0
g_4      0
r_4      0
i_4      0
z_4      0
u_5      0
g_5      0
r_5      0
i_5      0
z_5      0
u_6      0
g_6      0
r_6      0
i_6      0
z_6      0
class    0
dtype: int64

In [6]:
# seems like 'na' stand for NaN and pandas does not recognize it like a missed value
def nan_filler(df: pd.DataFrame, old_nan):
    df.replace(old_nan, np.nan, inplace=True)

In [7]:
nan_filler(train, "na")
nan_filler(val, "na")

In [8]:
unlabeled = pd.read_csv(UNLABELED)
nan_filler(unlabeled, "na")

In [9]:
# check missed values
print("Train NAN\n", train.isna().sum(), "\n")
print("Val NaN\n", val.isna().sum(), "\n")
print("Unlabeled NaN\n", unlabeled.isna().sum())

Train NAN
 objid       0
ra          0
dec         0
u_0      4556
g_0      4504
r_0      4555
i_0      4596
z_0      4481
clean       0
rowc        0
colc        0
rowv      401
colv      401
u_1         0
g_1         0
r_1         0
i_1         0
z_1         0
u_2         0
g_2         0
r_2         0
i_2         0
z_2         0
u_3      5173
g_3      1720
r_3       727
i_3       580
z_3      1728
u_4      4474
g_4      4506
r_4      4484
i_4      4517
z_4      4422
u_5      4482
g_5      4451
r_5      4498
i_5      4489
z_5      4509
u_6         0
g_6         0
r_6         0
i_6         0
z_6         0
class       0
dtype: int64

Val NaN
 objid       0
ra          0
dec         0
u_0      3455
g_0      3460
r_0      3380
i_0      3449
z_0      3499
clean       0
rowc        0
colc        0
rowv      681
colv      681
u_1         0
g_1         0
r_1         0
i_1         0
z_1         0
u_2         0
g_2         0
r_2         0
i_2         0
z_2         0
u_3      4836
g_3      1690
r_3       752
i_3       660
z_3      2257
u_4      3575
g_4      3512
r_4      3495
i_4      3458
z_4      3576
u_5      3450
g_5      3513
r_5      3481
i_5      3544
z_5      3504
u_6         0
g_6         0
r_6         0
i_6         0
z_6         0
class       0
dtype: int64

Unlabeled NaN
 objid       0
ra          0
dec         0
u_0         0
g_0         0
r_0         0
i_0         0
z_0         0
clean       0
rowc        0
colc        0
rowv      621
colv      621
u_1         0
g_1         0
r_1         0
i_1         0
z_1         0
u_2         0
g_2         0
r_2         0
i_2         0
z_2         0
u_3      4935
g_3      1760
r_3       778
i_3       656
z_3      2122
u_4         0
g_4         0
r_4         0
i_4         0
z_4         0
u_5         0
g_5         0
r_5         0
i_5         0
z_5         0
u_6         0
g_6         0
r_6         0
i_6         0
z_6         0
dtype: int64

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 44 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   objid   30000 non-null  int64
 1   ra      30000 non-null  float64
 2   dec     30000 non-null  float64
 3   u_0     25444 non-null  object
 4   g_0     25496 non-null  object
 5   r_0     25445 non-null  object
 6   i_0     25404 non-null  object
 7   z_0     25519 non-null  object
 8   clean   30000 non-null  int64
 9   rowc    30000 non-null  float64
 10  colc    30000 non-null  float64
 11  rowv    29599 non-null  object
 12  colv    29599 non-null  object
 13  u_1     30000 non-null  float64
 14  g_1     30000 non-null  float64
 15  r_1     30000 non-null  float64
 16  i_1     30000 non-null  float64
 17  z_1     30000 non-null  float64
 18  u_2     30000 non-null  float64
 19  g_2     30000 non-null  float64
 20  r_2     30000 non-null  float64
 21  i_2     30000 non-null  float64
 22  z_2     30000 non-null  float64
 23  u_3     24827 non-null  object
 24  g_3     28280 non-null  object
 25  r_3     29273 non-null  object
 26  i_3     29420 non-null  object
 27  z_3     28272 non-null  object
 28  u_4     25526 non-null  object
 29  g_4     25494 non-null  object
 30  r_4     25516 non-null  object
 31  i_4     25483 non-null  object
 32  z_4     25578 non-null  object
 33  u_5     25518 non-null  object
 34  g_5     25549 non-null  object
 35  r_5     25502 non-null  object
 36  i_5     25511 non-null  object
 37  z_5     25491 non-null  object
 38  u_6     30000 non-null  int64
 39  g_6     30000 non-null  int64
 40  r_6     30000 non-null  int64
 41  i_6     30000 non-null  int64
 42  z_6     30000 non-null  int64
 43  class   30000 non-null  int64
dtypes: float64(14), int64(8), object(22)
memory usage: 10.1+ MB

In [13]:
# All features must be real or binary

In [10]:
train = train.astype(np.float32)
val = val.astype(np.float32)
unlabeled = unlabeled.astype(np.float32)

# Imputers

In [11]:
def fill_numeric_knn(df: pd.DataFrame, imputer_params:dict = {"n_neighbors": 5, "metric": "nan_euclidean", "weights": "uniform"})->pd.DataFrame:
    """
    """
    knn_imputer = KNNImputer(**imputer_params)
    transformed_df = knn_imputer.fit_transform(df)
    out_df = pd.DataFrame(transformed_df)
    out_df.columns = df.columns
    return out_df

def fill_median(df: pd.DataFrame, columns: List[str])->pd.DataFrame:
    """
    """
    return df[columns].fillna(df[columns].median())

In [12]:
filled_median_train = fill_median(train, train.columns)

In [13]:
filled_knn_train = fill_numeric_knn(train)

In [14]:
y_train = train[CLASS]

In [15]:
filled_median_train.drop([CLASS], inplace=True, axis=1)

In [46]:
filled_knn_train.drop([CLASS], inplace=True, axis=1)

# Training
# Random Forest Classifier

In [16]:
rfc_params = {
    "n_estimators": 10,
    "criterion": "gini",
    "min_samples_split": 10,
    "max_features": "auto",
    "bootstrap": True,
    "n_jobs": -1
}

In [26]:
rfc = RandomForestClassifier(**rfc_params)
rfc = make_pipeline(StandardScaler(), rfc)

In [27]:
rfc_median_scores = cross_validate(rfc, filled_median_train, y_train, cv=10, scoring=["f1_micro", "f1_macro", "f1_weighted"], n_jobs=-1)
rfc_median_scores

{'fit_time': array([2.18210149, 2.21701384, 2.03900766, 2.09469986, 2.21684122,
        2.20258689, 2.20193887, 2.11784697, 1.08286643, 1.11757803]),
 'score_time': array([0.02448487, 0.03026128, 0.07103658, 0.03098369, 0.02466536,
        0.03347731, 0.02075267, 0.02546525, 0.0139327 , 0.01195264]),
 'test_f1_micro': array([0.70033333, 0.77633333, 0.73633333, 0.857     , 0.83933333,
        0.85566667, 0.87933333, 0.94533333, 0.947     , 0.82233333]),
 'test_f1_macro': array([0.69206908, 0.77332025, 0.73261296, 0.85460929, 0.83359303,
        0.85235511, 0.87862593, 0.94510566, 0.94680779, 0.82373609]),
 'test_f1_weighted': array([0.69206908, 0.77332025, 0.73261296, 0.85460929, 0.83359303,
        0.85235511, 0.87862593, 0.94510566, 0.94680779, 0.82373609])}

In [28]:
rfc_knn_score = cross_validate(rfc, filled_knn_train, y_train, cv=10, scoring=["f1_micro", "f1_macro", "f1_weighted"], n_jobs=-1)
rfc_knn_score

{'fit_time': array([1.28438544, 1.24489284, 1.33096337, 1.31504607, 1.24506521,
        1.24300528, 1.28200698, 1.23270082, 0.73749804, 0.73375869]),
 'score_time': array([0.02903032, 0.053936  , 0.04514813, 0.01926208, 0.0563848 ,
        0.03276253, 0.01933241, 0.0212791 , 0.01250267, 0.01352692]),
 'test_f1_micro': array([0.99466667, 0.999     , 0.999     , 0.99933333, 1.        ,
        1.        , 1.        , 1.        , 1.        , 0.99066667]),
 'test_f1_macro': array([0.99466386, 0.999     , 0.99900017, 0.99933333, 1.        ,
        1.        , 1.        , 1.        , 1.        , 0.99066604]),
 'test_f1_weighted': array([0.99466386, 0.999     , 0.99900017, 0.99933333, 1.        ,
        1.        , 1.        , 1.        , 1.        , 0.99066604])}

In [29]:
print("Averages for median filling")
for k, v in rfc_median_scores.items():
    print(k, np.mean(v))

Averages for median filling
fit_time 1.9472481250762939
score_time 0.028701233863830566
test_f1_micro 0.8359
test_f1_macro 0.8332835185480473
test_f1_weighted 0.8332835185480475

In [30]:
print("Averages for KNN filling")
for k, v in rfc_knn_score.items():
    print(k, np.mean(v))

Averages for KNN filling
fit_time 1.1649322748184203
score_time 0.030316495895385744
test_f1_micro 0.9982666666666666
test_f1_macro 0.9982663389702667
test_f1_weighted 0.9982663389702667

# Probability calibration

In [31]:
calibrated_rfc = CalibratedClassifierCV(base_estimator=rfc, cv=5)

In [32]:
calibrated_rfc.fit(filled_median_train, y_train)

CalibratedClassifierCV(base_estimator=Pipeline(steps=[('standardscaler',
                                                       StandardScaler()),
                                                      ('randomforestclassifier',
                                                       RandomForestClassifier(min_samples_split=10,
                                                                              n_estimators=10,
                                                                              n_jobs=-1))]),
                       cv=5)

In [34]:
y_prob = calibrated_rfc.predict_proba(filled_median_train)

In [39]:
# prob_true, prob_pred = calibration_curve(y_train[:, 1], y_prob[:, 1])

In [43]:
y_train

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
29995    2.0
29996    2.0
29997    2.0
29998    2.0
29999    2.0
Name: class, Length: 30000, dtype: float32